<p class="mt-5 text-lg">
  <div class="mt-5 mb-3 px-5 py-5 bg-zinc-50 border border-gray-200 text-xl">
    Все задания этой лабораторной работы необходимо выполнять в директории <b>lab1</b>.<br>
    Для каждого задания надо создавать отдельную директорию.
  </div>


  <% provide :task1 do %>
    <div class="mt-5 mb-3 px-5 py-5 bg-gray-50 border border-gray-200">
      Создайте директорию <b>task1</b>, в ней создайте файл <b>color.rb</b>
    </div>
    Напишите в файле color.rb функцию color(r, g, b) для преобразования цвета из формата (0-255, 0-255, 0-255) в шестнадцатеричный формат.<br>
    Реализовать проверку выхода за границы допустимого диапазона значений.<br>
    В случае, если значения выходят за диапазон, приводить к ближайшим допустимым.<br>
    <h2 class="text-lg font-semibold">Примеры:</h2>
    <div class="ml-3">
      (0,0,0) => 000000 <br>
      (255,255,255) => FFFFFF <br>
      (-2, 0, 280) => 0000FF. <br>
    </div>
  <% end %>

  <% provide :task2 do %>
    <div class="mt-5 mb-3 px-5 py-5 bg-gray-50 border border-gray-200">
      Создайте директорию <b>task2</b>, в ней создайте файл <b>block_concat.rb</b>
    </div>
    Написать в файле block_concat.rb функцию для сложения строк по следующим правилам:
    <ul class="text-lg">
      <li> 1. На вход подается две строки и размер блока. </li>
      <li> 2. Блоки строк поочередно добавляются к итоговой строке. </li>
      <li> 3. Если одна из строк не содержит больше блоков, то копируется остаток другой строки. </li>
      <li> 4. Последний блок может быть меньшего размера. </li>
    </ul>
  <% end %>
</p>