<div class="mt-5 p-3 pl-5 border border-red-600 rounded-md bg-red-100 sm:mx-auto sm:w-full sm:max-w-sm">
  <ul>
    <% error_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
</div>