<% provide :nav_name, "Лабораторные" %>

<turbo-frame id="lab" data-turbo-action="advance" class="lab">
  <%= content_tag :h1, @title, class: "text-2xl font-bold text-gray-700" %>
  <%= render partial: @content %>
  <div class="flex flex-col">
    <div class="self-center text-xl font-semibold text-gray-700 my-2">Задания</div>
    <% @tasks.each do |task| %>
      <%= render partial: "task/#{task.partial_filename}", locals: {task: task} %>
    <% end %>
  </div>
</turbo-frame>